.title{
    text-align: center;
    color: black;
    font-family: 'Playfair Display', serif;
    font-size:3rem;
    font-weight: bolder;
}
.project-page span{
    font-family: 'Playfair Display', serif;
}
.project-page{
    text-align: center;
    margin-top: 5%;
    background-image:url('../../asset/projectss.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: inherit;
    opacity: 1;
}
.card-header{
    background-color: #088A68;
    color: white;
    text-align: center;
    border: none;
}
.view-button{
    width: 40%;
    margin: auto;
    margin-bottom: 5%;
}
.first-project{
    margin: 0 auto;
    width: 35%;
}
.second-project{
    
    width: 35%;
    margin: 5% auto;
}

  @media screen and (max-width:1100px){
    .first-project{

        width: 80%;
    }
    .second-project{
        width: 80%;
    }
}

.title-leaf{
    margin-bottom: -5%;
    text-align: center;
    width:30;
    height: 70;
    margin-top:-11%;
    transform: rotate(-70deg);
  }

.project-card{
    box-shadow: 0 0 10px #088A68;
}